@model LoginViewModel

<form asp-action="Login" method="post">
    <div class="form-group">
        <label for="Usuario">Usuário</label>
        <input asp-for="Usuario" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Senha">Senha</label>
        <input asp-for="Senha" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
